*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: hsl(220, 98%, 61%);
}

.loli {
  color: hsl(0, 0%, 98%);
  color: hsl(236, 33%, 92%);
  color: hsl(233, 11%, 84%);
  color: hsl(236, 9%, 61%);
  color: hsl(235, 19%, 35%);

  /* ### Dark Theme */

  color: hsl(235, 21%, 11%);
  color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  color: hsl(236, 33%, 92%);
  color: hsl(234, 11%, 52%);
  color: hsl(233, 14%, 35%);
  color: hsl(237, 14%, 26%);
}
